@import './globals.scss';

.footerContainer {
    background-color: $color-brown-light;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}