@import './globals.scss';

.footerContainer {
    background-color: $color-brown-light;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    text-align: center;

    h2 {
        font-size: $font-size-small;
    }

    div {
        width: 50%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 760px) {
    .footerContainer {
        grid-template-rows: 1fr;
    }
}
