@import './globals.scss';

.footerContainer {
    background-color: $color-brown-light;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    text-align: center;

    h2 {
        font-size: $font-size-semi-medium;
        margin-bottom: 8px;
        color: $color-dark-text;
    }

    div {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 16px;
        font-size: $font-size-large;

    }
}

@media only screen and (max-width: 760px) {
    .footerContainer {
        grid-template-rows: 1fr;
    }
}
