@import './globals.scss';

.imageGallery {
    margin: auto;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-large;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $spacing-medium;
    align-items: center;
    justify-content: center;

    img {
        cursor: pointer;
        width: auto;
        height: 200px;
        border-radius: 8px;
        box-shadow: 3px 4px 8px 0px rgba(12, 12, 12, 0.4);
    }
}

.galleryWrapper {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: $font-size-medium;
    justify-items: center;
    margin: auto;
    width: 70%;
    svg {
        font-size: $font-size-small * 1.5;
        margin: $spacing-medium;
        cursor: pointer;
        color: $color-brown-darker;
    }
}
.galleryHeading {
   text-align: center;
   margin: auto;
   font-size: $font-size-medium;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
    font-family: $font-family-heading;
    text-decoration: underline;

}


@media only screen and (max-width: 1160px) {
    .imageGallery {
        grid-template-columns: 1fr 1fr;
        margin: auto;
        width: 90%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .galleryWrapper{
        width: 80%;
        grid-template-columns: 1fr;
        margin: $spacing-medium;
        margin:auto;
        margin-bottom: $spacing-medium;
        svg {
            display: none;
        }
    }
    .galleryHeading {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 680px) {

    .imageGallery {
        width: 100%;
    }

}

@media only screen and (max-width: 400px) {
    .imageGallery {
        width: 100%;
    }
}