@import './globals.scss';

.imageGallery {
    margin: auto;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $spacing-medium;

    img {
        width: 200px;
        height: 200px;
        border-radius: 8px;
        
    }
}
.galleryHeading {
   text-align: center;
   margin: auto;
   font-size: $font-size-medium;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
    font-family: 'Kaushan Script', cursive;
}