//Color palette
$color-white: #FFFDFA;
$color-black: #070606;
$color-brown-light: #E1D3D3;
$color-brown-dark: #CBB9B1;
$color-brown-darker: #75655f;
$color-green-light: #ADA390;
$color-green-off: #878F77;
$color-cta: #5B7C69;
$color-dark-text: rgba(40,40,40,0.5);
$gradient: linear-gradient(to right, #E1D3D3, #CBB9B1, #5B7C69);


//Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

//font-size
$font-size-small: 1.3rem;
$font-size-semi-medium: 2rem;
$font-size-medium: 2.8rem;
$font-size-large: 4rem;
$font-size-extra-large: 6.4rem;

//fonts
$font-family-regular: 'Katibeh', cursive;
$font-family-heading: 'Charm', cursive;