@import './globals.scss';

.header {
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 50%;
    background-blend-mode: lighten;
    background-color: rgba(181, 173, 173, 0.38);

    h1 {
        font-family: $font-family-heading;
        margin: 0;
        font-size: $font-size-extra-large * 0.95;
        margin-left: 58%;
        color: rgba(0,0,0, 0.28);
        letter-spacing: 4px;
        text-shadow: 1px 2px 2px 4px $color-cta;
        font-weight: 100;
    }

    h1::first-letter{
        font-size: $font-size-extra-large * 1.2;
        font-weight: 100;
    }
}

@media only screen and (max-width: 760px) {
    .header{
        height: 50vh;

        h1 {
            top: 10%;
            font-size: 3rem;
            text-align: center;
            margin: auto;
        }

        h1::first-letter {
            font-size: 3.5rem;
        }
    }
}