@import './globals.scss';

.modal {
    position: relative;
    display: grid;
    width: 60%;
    max-width: 860px;
    height: auto;
    margin:auto;
    z-index: 4;
    text-align: center;
    background-color: $color-white;
    border-radius: $spacing-small;
    padding: $spacing-medium;
    margin-top: 5%;
    p {
        font-size: $font-size-semi-medium;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.modalBackground{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: rgba(20,20,20,0.5);
}
@media only screen and (max-width: 680px) {

}

@media only screen and (max-width: 1160px) {
    .modal{
        margin-top: 10%;
        width: 85%;
        padding: 8px;
    }
}
