@import './globals.scss';

.modal {
    position: relative;
    display: grid;
    width: 60%;
    max-width: 860px;
    height: auto;
    margin:auto;
    z-index: 4;
    text-align: center;
    background-color: $color-white;
    border-radius: $spacing-small;
    padding: $spacing-medium;
    margin-top: 5%;
    div{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;
        justify-items: start;
        p:nth-child(2){
            justify-self: end;
        }
        p:nth-child(3){
            justify-self: end;
        }
        p {
            margin-left:8px;
            margin-right: 8px;
            font-size: $font-size-small * 1.2;
        }
    }
    img {
        width: 100%;
        height: auto;
}
}

.modalBackground{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 105vh;
    top:0;
    left:0;
    background-color: rgba(20,20,20,0.5);
}


@media only screen and (orientation: landscape) {
    .modal{
        max-width: 70%;
    }
}

@media only screen and (max-width: 1160px) {
    .modal{
        margin-top: 10%;
        width: 80%;
        padding: 8px;
    }
}
@media only screen and (max-width: 680px) {
    .modal{
        margin-top: 20%;
        width: 90%;
        padding: 8px;

        div {
            p{
                font-size: medium;
            }
        }
    }
}