@import './globals.scss';

.welcomeContainer {
    width: 70%; 
    margin: auto;
    height: 50vh;
    h2 {
        font-family: 'Kaushan Script', cursive;
        text-align: center;
        font-size: $font-size-medium;
    }
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .welcomeText {
            margin-top: 16px;
            padding-top: 0;

            p {
                font-size: $font-size-small;
                margin-top: 0;
            }
        }
        .welcomeImages {
            position: relative;
            img {
                border: solid 8px white; 
            }

            img:nth-child(1){
                min-width: 220px;
                height: 220px;
                position: absolute;
                left: 150px;
                top: 5%;
            }

            img:nth-child(2){
                min-width: 170px;
                height: 170px;
                position: absolute;
                left: 280px;
                top: 75%;
            }

            img:nth-child(3){
                width: 140px;
                height: 140px;
                position: absolute;
                left: 390px;
                top: 30%;
            }
        }
    }
}

@media only screen and (max-width: 760px) {

    .welcomeContainer {
        height: auto;
        
        h2 {
            font-size: 2rem;
        }
        div {
            grid-template-columns: 1fr;
            .welcomeText {
                p {

                    font-size: 1rem;
                }
            }
            
                    .welcomeImages{
                        display: none;
                        grid-template-columns: 1fr 1fr 1fr;
                        img{
                            height: auto !important;
                            width: 100%;
                            position: relative !important;
                            left:auto !important;
                            top: auto !important;
                            min-width: 0px !important;
                        }
                    }
        }
    }
}