@import './globals.scss';

.welcomeContainer {
    width: 70%; 
    margin: auto;
    height: 70vh;
    h2 {
        font-family: $font-family-heading;
        text-align: center;
        font-size: $font-size-medium;
        text-decoration: underline;
    }
    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: $spacing-large;
        .welcomeText {
            display:grid;
            align-items: center;
            padding-top: 0;

            p {
                font-size: $font-size-small;
                margin-top: 0;
            }
        }
        .welcomeImages {
            display: grid;
            justify-items: end;
            img {
                width: 75%;
            }
        }
    }
}

@media only screen and (max-width: 760px) {

    .welcomeContainer {
        height: auto;
        
        h2 {
            font-size: 2rem;
        }
        article {
            grid-template-columns: 1fr;
            .welcomeText {
                p {
                    font-size: 1rem;
                }
            }
            .welcomeImages {
                display: grid;
                justify-items: center;
                img {
                    width: 80%;
                }
            }
        }
    }
}