@import url('https://fonts.googleapis.com/css2?family=Charm&family=Katibeh&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Katibeh', cursive;
}